// variables/main.scss

@import "grid-variables";

$font-family: 'Cera Pro', Helvetica, Arial, sans-serif; 

$color-light-01: #F7F6F9;
$color-light-02: #F1F0F5;
$color-light-03: #E3E1E8;
$color-light-04: #D0CED6;
$color-dark-01: #A39FAB;
$color-dark-02: #7A7682;
$color-dark-03: #524D5C;
$color-dark-04: #221B2F;

$color-orange: #B22D00;
$color-pink: #9F0C44;
$color-purple: #781A77;
$color-blue: #042973;
$color-blue: #042973;
$color-green: #447304;
$color-red: #B22323;
$color-yellow: #EBA70C;
